.myButton{
    display: flex;
    border-radius: 49px;
    max-width: 380px;
    width: 100%;
    height: 42px;
    align-items: center;
    background: #3377FF;
    border: none;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .2s;
    padding: 0 16px;
}
.myButton:hover{
    background: #588afa;
}