.darkBG {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: 1192px;
    height: 100%;
    padding: 32px;
    background: white;
    color: white;
    z-index: 100;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalTitle {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.closeBtn {
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #F4F7FE;
    border: 1px solid #DDE5E9;

    position: absolute;
    right: 16px;
    top: 16px;
    align-self: flex-end;
    transition: background .2s;
}

.closeBtn:hover {
    background: #DDE5E8;
}

.modalBody {
    display: flex;
    width: 100%;
}

.modalBody_info {
    display: flex;
    flex-direction: column;
}

.modalBody_video {
    width: 817px;
    height: 511px;
    margin-right: 16px;
}

.modalBody_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modalBody_plugins {
    display: flex;
    flex-direction: column;
    flex: 0 0 303px;
    width: 100%;
}

.modalBody_pluginsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modalBody_pluginsItem:last-child {
    margin-bottom: 0;
}

.modalBody_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

.pluginsModal_cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3377FF;
    border-radius: 49px;
    background: none;
    padding: 9px 35px;
    font-family: 'DM Sans', sans-serif;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    color: #3377FF;
}

.modalBody_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pluginsItem_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.pluginsItem_text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #232325;
}

.pluginsItem_check {
    position: relative;
    display: block;
    width: 38px;
    height: 20px;
}

.pluginsItem_check input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EEEEEE;
    -webkit-transition: .4s;
    transition: .4s;
    width: 38px;
    height: 20px;
}

.modalBody_pluginsItem_title {
    display: flex;
    align-items: center;
}

.slider:before {
    width: 38px;
    height: 20px;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3377FF;
}

/* 
input:focus+.slider {
    box-shadow: 0 0 1px #3377FF;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}